
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
a{
    color: white;
    font-weight: bold;
    font-size: large;
}
ul{
    padding:0;
}
#header {
    background-color: cornflowerblue;
    padding-bottom: 40px;
}
#pages{
    height: 70px;
    background-color: cornflowerblue;
}
#pages ul{
    padding-top: 20px;
    padding-left: 10px;
}
#pages li{
    list-style: none;
    float:left;
    padding-right: 20px;
}
#main {
    float:left;
    width:60%;
}
#footer{
    position: fixed;
    bottom: 50px;
    right:0;
}
input, textarea{
	width:40%;
	padding:5px;
    margin-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
    
}